@import url('../../index.css');

.container {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  padding: clamp(30px, 6vw, 60px) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--yellow);
  font-family: var(--font-primary);
  background-color: var(--dark-blue);
}
.title h1 {
  letter-spacing: 0.01em;
  font-size: clamp(34px, 4.3vw, 45px);
}

.formContainer {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: content-box;
  width: 350px;
  height: 380px;
  justify-content: space-around;
  background-color: #ededed;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 30px -1px rgba(60, 66, 66, 0.87);
  -webkit-box-shadow: 3px 3px 30px -1px rgba(60, 66, 66, 0.87);
  -moz-box-shadow: 3px 3px 30px -1px rgba(60, 66, 66, 0.87);
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: var(--font-primary);
  gap: 6px;
  color: var(--gray-paragraph);
  font-size: 14px;
}
.link a {
  font-family: var(--font-primary);
  color: var(--dark-blue);
  border-bottom: 1px solid var(--dark-blue);
}
.form label {
  display: flex;
  flex-direction: column;
  font-family: var(--font-secondary);
  font-size: 14px;
  color: #5d5a5a;
  position: relative;
}
.form label .error {
  right: 0;
  color: rgba(255, 0, 0, 0.728);
  font-size: 13px;
}
.form input {
  padding: 8px 12px;
  border: none;
  border-bottom: 1px solid var(--dark-blue);
  background-color: transparent;
  outline: none;
}
.button {
  width: 100%;
  padding: 6px;
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
  font-weight: 700;
  font-family: var(--font-primary);
  font-size: 16px;
  margin-top: 15px;
}
.form label .errorForm {
  border-bottom: 1px solid red;
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0);
  }
}
@media screen and (max-width: 450px) {
  .form {
    box-sizing: border-box;
    height: 450px;
  }
  .form label {
    margin-bottom: 20px;
  }
  .form label .error {
    position: static;
  }
}
