.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999;
}
.container svg {
  width: 340px;
}
@media screen and (max-width: 370px) {
  .container svg {
    width: 325px;
  }
}
