@import url('../../index.css');

.container {
  width: 100%;
  height: 90px;
  width: 100%;
  background-color: var(--dark-blue);
  display: flex;
  align-items: flex-end;
}
.toggle {
  display: none;
}
.innerContainer {
  max-width: 1299px;
  margin: 0 auto;
  width: 98%;
  display: flex;
  justify-content: space-between;
}
.leftWrapper {
  width: 306.25px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftWrapper .logoWrapper {
  display: flex;
  align-items: center;
  gap: 8.75px;
}
.logoWrapper p {
  font-family: var(--font-secondary);
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
}
.headerIcons {
  display: flex;
  gap: 10px;
}
.headerIcons a img {
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.headerIcons a:hover img {
  border-radius: 50%;
  box-shadow: 2px 0.4px 1px #333;
}

.navbar {
  width: 742px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagesList {
  width: 532px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-secondary);
}
.pagesList li a {
  color: #ffffff;
  font-size: 17px;
  line-height: 21.25px;
  display: flex;
  align-items: center;
}
.pagesList li a svg {
  position: relative;
  left: 4px;
}
.orderTodayWrapper {
  position: relative;
  z-index: 99999999;
}
.orderToday {
  padding: 13px 33px;
  background-color: var(--yellow);
  color: var(--dark-blue);
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  min-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderTodayWrapper div {
  box-shadow: 3px 3px 17px -1px rgba(60, 66, 66, 0.87);

  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f6f8fc;
  width: 100%;
  align-items: center;
  transition: all 0.3s ease;
  /* display: none; */
  transform: scale(0);
}
.orderTodayWrapper div a {
  transition: all 0.3s ease;
  padding: 15px 12px;
  display: flex;
  align-items: center;
  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--dark-blue);
  background-color: #ededed;
  width: 100%;
  justify-content: center;
}
.orderTodayWrapper div a:hover {
  background-color: var(--gray-paragraph);
}
.orderTodayWrapper div a:first-child {
  border-bottom: 1px solid var(--yellow);
}
.orderTodayWrapper:hover div {
  /* display: flex; */
  transform: scale(1);
}

.basketButton {
  position: relative;
}
.basketButton p {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: var(--dark-blue);
  font-family: var(--font-secondary);
  font-weight: 800;
}

@media screen and (max-width: 1150px) {
  .navbar {
    width: 55%;
    gap: 24px;
    justify-content: flex-end;
  }
  .orderToday {
    min-width: max-content;
    padding: 13px 22px;
  }
  .navbar .pagesList {
    width: max-content;
    gap: 20px;
  }
  .pagesList li a {
    font-size: 16px;
  }
  .headerIcons a img {
    width: 40px;
  }
}

@media screen and (max-width: 900px) {
  .leftWrapper {
    width: max-content;
    gap: 20px;
  }
  .orderToday {
    padding: 10px 12px;
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    left: -100%;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    background: #f6f8fc;
    z-index: 999;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .navbar.active {
    left: 0;
  }
  .navbar.close {
    left: -100%;
  }

  .navbar .pagesList {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .pagesList li {
    width: 100%;
  }
  .navbar .pagesList li a {
    color: var(--dark-blue);
    padding-left: 50px !important;
    box-sizing: border-box;
    width: 100%;
    font-size: 34px;
    padding: 20px 10px;
  }
  .pagesList .basketButton {
    display: none;
  }
  .orderToday {
    align-self: flex-start;
    margin-left: 50px;
    padding: 16px 32px;
    font-size: 22px;
  }
  .toggle {
    display: block;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50px;
    right: 50px;
    z-index: 999999999;
    transition: all 0.4s ease-in-out;
    margin-right: 20px;
  }
  .toggle b {
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background-color: var(--yellow);
    transition: transform 0.5s ease-out;
    position: relative;
  }
  .toggle.active b {
    height: 6px;
  }
  .toggle.active b:nth-child(2) {
    position: relative;
    left: 10px;
  }
  .toggle.active b:first-child {
    transform: rotate(-45deg);
    top: 5px;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .toggle.active b:last-child {
    transform: rotate(225deg);
    top: -2px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .orderToday {
    display: none;
  }
  .orderTodayWrapper {
    width: 100%;
  }
  .orderTodayWrapper div {
    transform: scale(1);
    position: static;
    width: max-content;
    box-shadow: none;
  }
  .orderTodayWrapper div a {
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 22px;
  }
  .orderTodayWrapper div a:first-child {
    border: none;
  }
  .logout {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .container {
    height: 60px;
  }
  .headerIcons {
    display: none;
  }
}
