@import url('../../../index.css');

.title {
  width: 100%;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(60px, 12vw, 120px) 0;
}
.title h1 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: clamp(24px, 4.5vw, 50px);
  line-height: 1.09;
  text-align: center;
  letter-spacing: -0.02em;
  color: white;
  max-width: 700px;
  position: relative;
}
.title h1::before {
  content: '';
  position: absolute;
  bottom: -24px;
  width: 50px;
  height: 2px;
  background-color: var(--yellow);
  left: 50%;
  transform: translateX(-50%);
}
.innerContainer {
  max-width: 1300px;
  margin: 0 auto;
  width: 98%;
  display: flex;
  flex-direction: column;
  margin-top: clamp(60px, 14vw, 140px);
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.left {
  min-width: 580px;
  padding: 100px 70px;
  box-sizing: border-box;
  background-color: #f5f8fc;
  height: 650px;
}
.left img {
  width: 100%;
  object-fit: contain;
  max-width: 100%;
  height: 100%;
  box-shadow: 3px 3px 12px #ededed;
  padding: 10px;
}
.right {
  width: 631px;
  height: 604px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rightTitle {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: clamp(24px, 2.46153846154vw, 32px);
  line-height: 1.1875;
  letter-spacing: -0.02em;
  color: var(--dark-blue);
}
.price {
  font-family: var(--font-secondary);
  font-weight: 800;
  font-size: clamp(20px, 2.30769230769vw, 30px);
  line-height: 1.7;
  letter-spacing: -0.01em;
  color: var(--yellow);
}
.desc {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(15px, 1.46153846154vw, 19px);
  line-height: 1.78947368421;
  letter-spacing: -0.01em;
  color: #969aa0;
  max-height: 129px;
  overflow-y: scroll;
  margin-top: 26px;
}
.listContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 24px;
  width: 100%;
}
.listItem {
  display: flex;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(15px, 1.46153846154vw, 19px);
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #969aa0;
  gap: 50px;
  display: flex;
}
.listItem p {
  min-width: 160px;
  display: flex;
  justify-content: space-between;
}
.addCart {
  margin-top: auto;
  width: clamp(250px, 34vw, 377px);
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  background-color: var(--yellow);
  color: var(--dark-blue);
}

.yellowArea {
  background-color: var(--yellow);
  height: 385px;
  display: flex;
  align-items: center;
  gap: clamp(20px, 7vw, 90px);
  justify-content: center;
}
.yellowBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 365px;
  gap: 19px;
}
.yellowImg {
  width: 80px;
  height: 80px;
  background: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.yellowTitle {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(20px, 2.67vw, 32px);
  line-height: 38px;
  letter-spacing: -0.02em;
  color: var(--dark-blue);
}
.yellowText {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: clamp(12px, 1.4vw, 16px);
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.01em;
  color: var(--dark-blue);
  position: relative;
  top: -9px;
}

/* review */

.reviewContainer {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 98%;
}
.reviewForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.textArea {
  width: 100%;
  max-width: 100%;
  min-height: 180px;
  box-shadow: 3px 3px 12px #ededed;
  max-height: 200px;
  border: 1px solid #ededed;
  font-family: var(--font-primary);
  font-size: 17px;
  outline: none;
  padding-left: 20px;
  padding-top: 20px;
  font-style: italic;
  font-weight: 400;
  color: #333;
}
.submitBtn {
  margin-top: 20px;
  width: 220px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  color: whitesmoke;
  font-family: var(--font-primary);
  font-size: 18px;
  box-shadow: 3px 3px 12px #ededed;
  margin-bottom: 20px;
}
.message {
  font-size: clamp(12px, 1.4vw, 14px);
  font-family: var(--font-secondary);
  color: rgba(255, 0, 0, 0.581);
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: right;
}

.singleReview {
  width: 100%;
  display: flex;
  gap: 18px;
  padding: 12px;
  background: var(--gray);
  box-shadow: 3px 3px 12px #ededed;
  border-radius: 12px;
  margin-bottom: 14px;
  position: relative;
}
.leftPp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.rightText {
  min-width: 75%;
}
.leftPp img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.leftPp span {
  font-family: var(--font-secondary);
  font-size: 15px;
  color: #333;
  text-transform: capitalize;
  font-weight: 500;
}
.reviewRate {
  position: absolute;
  right: 20px;
  top: 20px;
}
.reviewDate {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 13px;
  font-family: var(--font-secondary);
  color: #969aa0;
}
.reviewText {
  max-width: 90%;
  max-height: 74px;
  overflow-y: scroll;
  font-family: var(--font-primary);
  font-size: 15px;
  color: #333;
  font-style: italic;
  margin-top: 10px;
}
@media screen and (max-width: 1300px) {
  .yellowImg {
    width: 65px;
    height: 65px;
  }
  .yellowText {
    line-height: 1.3;
  }
  .product {
    justify-content: center;
    gap: 30px;
  }
  .left {
    min-width: auto;
    width: auto;
    max-height: auto;
    height: 600px;
  }
  .right {
    width: 45%;
  }
}

@media screen and (max-width: 850px) {
  .reviewText {
    font-size: 14px;
    max-width: 79%;
  }
  .yellowArea {
    gap: 30px;
    flex-wrap: wrap;
    height: max-content;
    padding: 30px 0;
  }
  .yellowBox {
    width: 200px;
  }
  .product {
    flex-direction: column;
  }
  .addCart {
    width: 100%;
  }
  .left {
    padding: 0;
  }
  .right {
    width: 462px;
  }
}
@media screen and (max-width: 550px) {
  .reviewText {
    font-size: 13px;
  }
  .leftPp img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  .reviewDate {
    right: 10px;
    bottom: 10px;
  }
  .reviewRate {
    right: 10px;
    top: 10px;
  }
  .left {
    height: 400px;
  }
}
@media screen and (max-width: 472px) {
  .reviewText {
    max-width: 70%;
  }
  .product {
    flex-direction: column;
  }
  .left {
    width: 98%;
  }
  .right {
    width: 98%;
  }
}
